.center-block {
  width: 40rem;
}
.details {
  position: relative;
}
.payment-id, .total-price {
  display: inline-block;
  position: absolute;
  top: 35%;
  font-weight: bold;
  font-size: 1.2rem;
}
.total-price {
  left: 3%;
}
.payment-id {
  right: 3%;
}
hr {
  margin-top: 5%;
  margin-bottom: 10%;
}
table {
  width: 100%;
  max-width: 100%;
  line-height: 3rem;
  text-align: left;
}
td {
  border-bottom: 2px solid #dee2e6;
  padding: 0 1rem;
}
h2 {
  text-align: center;
  margin-bottom: 0.6rem;
}
