nav {
  display: flex;
  justify-content: space-between;
  background: #0084b4;
  position: fixed;
  top: 0;
  height: 4rem;
  line-height: 4rem;
  width: 100%;
  box-shadow: 0 1px 4px 2px #4c4e56;
  z-index: 1;
  color: rgba(255, 255, 255, 0.7);
}

nav > ul > li, nav > div {
  display: inline-block;
  padding: 0 1rem;
}
nav > ul > li:hover, nav > div:hover {
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
}
nav > ul {
  margin: 0;
}

#menu-toggle, #shopping-cart-toggle {
  perspective: 1000px;
  position: relative;
}
#menu, #shopping-cart {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 15rem;
  background: #0084b4;
  border-radius: 5px;
}
#shopping-cart {
  background: #c0deed;
}
#menu-toggle:hover #menu, #shopping-cart-toggle:hover #shopping-cart {
  display: block;
  box-shadow: 0 0 10px 2000px rgba(0, 0, 0, 0.6), 3px 3px 5px rgba(0, 0, 0, 0.8);
}
#menu-toggle {
  margin-left: 3rem;
}
#menu {
  left: 0;
}

#shopping-cart {
  right: 0;
  transform-origin: right;
  animation: flop-in 0.5s ease-in-out forwards;
}
@keyframes flop-in {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
