.total-price, .order-date {
  display: inline-block;
  position: absolute;
  top: 3%;
  font-weight: bold;
  font-size: 1.5rem;
}
.order-date {
  left: 3%;
}
.total-price {
  right: 3%;
}
hr {
  margin-top: 7%;
  margin-bottom: 3%;
}
table {
  width: 100%;
  max-width: 100%;
  line-height: 3rem;
  text-align: left;
}
td {
  border-bottom: 2px solid #dee2e6;
  padding: 0 1rem;
}
